<app-subheading prompt="My Views" matIcon="table_chart"></app-subheading>
<div class="page-container" style="min-width: 380px">
  <div class="grid321">
    <div *ngFor="let appViewItem of appViewTree">
      <mat-card
        *ngIf="appViewItem.viewId"
        style="min-height: 70px; max-height: 70px"
      >
        <mat-card-header
          style="cursor: pointer"
          [routerLink]="appViewItem.routerLink"
          [matTooltip]="'Click to go to ' + appViewItem.viewName"
        >
          <span mat-card-avatar>
            <img
              *ngIf="appViewItem.iconURL && appViewItem.iconURL != ''"
              [src]="appViewItem.iconURL"
              class="viewer-icon"
            />
            <img
              *ngIf="!appViewItem.iconURL || appViewItem.iconURL == ''"
              src="../../assets/images/viewIcon.jpg"
              class="viewer-icon"
            />
          </span>
          <mat-card-title>{{ appViewItem.viewName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content
          style="cursor: pointer"
          [routerLink]="appViewItem.routerLink"
          [matTooltip]="'Click to go to ' + appViewItem.viewName + ' viewer'"
        >
          {{ appViewItem.viewDescription | truncate: 70 }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
