.standard-form {
  min-width: 300px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 350px;
}

mat-form-field {
  padding-bottom: 8px;
}

table {
  width: 100%;
}
