.standard-form {
  min-width: 300px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  padding-right: 8px;
  min-width: 350px;
}

mat-form-field {
  padding-bottom: 8px;
}

table {
  width: 100%;
}

.gridcell {
  padding-bottom: 15px;
}

.small-upload-button {
  margin: 4px;
  margin-right: 10px;

  font-weight: 400;
  font-size: 14px;
  padding: 4px;
  line-height: normal;
  vertical-align: top;
}
