/* You can add global styles to this file, and also import other style files */

@import "~firebaseui/dist/firebaseui.css";

/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-teal, 800);
$accent: mat-palette($mat-deep-orange);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

body {
  background-color: rgb(166, 185, 181);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0px;
}

.page-container {
  margin: 10px;
}

// Create a 2 column layout when screen is more than 500px wide
@media (min-width: 768px) {
  .grid2wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
  }
  .grid50percent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media (min-width: 800px) {
  .grid321 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

@media (min-width: 531px) and (max-width: 799px) {
  .grid321 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media (max-width: 530px) {
  .grid321 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.prompt {
  font-weight: 600;
}

fieldset {
  border-style: none;
}

.mat-formfield-prompt-lookalike {
  font-size: 11px;
  font-weight: 400;
  color: rgba(104, 104, 104, 0.788);
  margin-bottom: 4px;
}

.viewer-icon {
  height: 32px;
  width: 32px;
}
