table {
  width: 100%;
  min-width: 340px;
}

.mat-column-description {
  padding-right: 5px;
}

.mat-column-name {
  padding-right: 5px;
}

.mat-column-id {
  text-align: right;
  justify-content: flex-end;
}
